.page__basket {
}

.basket__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    font-size: 20px;
    
}



.basket__title{
    font-size: 36px;
    gap:20px;
    /* padding-bottom: 10px; */

}


.basket__cards{
    display: flex;
    flex-direction: column;
  

}
.basket__row {
    padding-top: 30px;
    
    
    
}
.basket__card {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr; 
    gap: 20px; 
    width: 100%;
    align-items: center;
   
    border: 2px solid var(--border);
    padding: 20px 30px;
    border-radius: 10px;
    background-color: var(--base);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 170px;


  
    
}




.item-basket__main-description{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:25px
}

.item-basket__price-button{
    
}
.item-basket {
}
.item-basket__title {
    padding-left: 20px;
    font-weight: bold;
}


.item-basket__img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Убирает лишние части изображения */
    min-width: 120px;
    min-height: 70px;
    /* max-width: 200px;
    max-height: 100px; */
}

.item-basket__img img {
    width: 100%;
    height: auto; /* Сохраняет пропорции изображения */
    object-fit: contain; /* Изображение сохраняет пропорции и помещается в контейнер */
}
.item-basket__price {

}
.item-basket__button {
}
.button-page {
}