{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="page__basket _container">
  <div class="basket__content">
    <div class="basket__title main-block__container-details">
      <div class="basket__title-main ">Самозанятый</div>
    </div>

    {% comment %} <p class="basket_fio" ><span class="basket_fio detail-label">Самозанятый:</span> {{ data.fio }}</p> {% endcomment %}
    <div class="basket__cards">

    {% for activity in data.activities %}
   
    <div class="basket__row">
        <div class="basket__card item-basket">
          <div class="item-basket__img">
            <img src="{{ activity.img_url }}" alt="{{ activity.title }}" />
          </div>
          <h3 class="item-basket__title">{{ activity.title }}</h3>
  
          
          {% if activity.id == data.importance %}
          <img
            class="basket__img"
            src="http://127.0.0.1:9000/flexwork/main_service.svg"
            alt="basket"
          />
          {% else %}
          <div></div>
          {% endif %}
  
          <div class="item-basket__price-button">
            <a
              href="{% url 'main:activity' activity.id %}"
              class="item-basket__button button-page"
              >Подробнее</a
            >
          </div>
        </div>
      </div>
   
    {% endfor %}
</div>
  </div>
</div>
{% endblock body %}

