{% extends "base.html" %} {% load static %} {% block body %}

<div class="page__services _container">
  <div class="services__content">
    <div class="services__search">
        <form method="get" action="{% url 'main:index' %}">
          {% csrf_token %}
          <div class="search-container">
            <input
              type="text"
              name="activity"
              placeholder="Поиск"
              class="search-input"
              value="{{ data.activity }}"
            />
            <button type="submit" class="search-button">
              <img src="http://127.0.0.1:9000/flexwork/Group.svg" alt="Search" />
            </button>
          </div>
        </form>



        <a href="{% url 'main:self-employed' %}">
          <div class="basket-container">
              <img
                  class="basket__img"
                  src="http://127.0.0.1:9000/flexwork/basket.svg"
                  alt="basket"
              />
              <div class="basket_amount">{{data.count}}</div> <!-- Здесь число отображает количество товаров в корзине -->
          </div>
      </a>
      

        
      </div>


    <div class="services__cards">
      {% for activity in data.activities %}
      <div class="services__column">
        <div class="services__card item-services">
          <h3 class="item-service__title">{{ activity.title }}</h3>
          <div class="item-service__img">
            <img src="{{ activity.img_url }}" alt="{{ activity.title }}" />
          </div>
         <div class="item-service_buttons">
          <a
          href="{% url 'main:activity' activity.id %}"
          class="item-service__button button-page"
          >Подробнее</a
        >

        <form method="post" action="activity/{{activity.id}}/add_activity/">
          {% csrf_token %}
          <button class="main-block__button__add " type="submit">
              +
          </button>
      </form>
         </div>
        

        </div>
      </div>
      {% endfor %}
    </div>

    

  </div>
</div>

{% endblock body %}
